<h1>Edit Allergy</h1>

<form action="/allergy/{{_id}}?_method=PUT" method="POST"/>
    <input type="text" name="category" placeholder="category" value="{{category}}" />
    <input type="text" name="name" placeholder="name" value="{{name}}" />
    <input type="text" name="allergyFriendly" placeholder="allergyFriendly" value="{{allergyFriendly}}" />
    <input type="text" name="vegetarianFriendly" placeholder="vegetarianFriendly" value="{{veganFriendly}}" />
    <input type="text" name="veganFriendly" placeholder="veganFriendly" value="{{veganFriendly}}" />
    <input type="text" name="ketoFriendly" placeholder="ketoFriendly" value="{{ketoFriendly}}" />
    <input type="text" name="description" placeholder="description" value="{{description}}" />
    <input type="text" name="picture" placeholder="picture" value="{{picture}}" />

    <input type="submit" value="Save" class="allButton"/>
</form>