<h1>Edit Content</h1>
<div class="content">
    <form action="/handicap/{{_id}}?_method=PUT" method="POST" />
    Category: <br>
    <select name="category">
        <option value="Restaurant">Restaurant</option>
        <option value="Product">Product</option>
        <option value="Shopping Center">Shopping Center</option>
        <option value="Doctor">Doctor</option>
    </select><br>
    Name:<br>
    <input type="text" name="name" placeholder="name" value="{{name}}" /><br>
    Help with Depression:<br>
    <input type="text" name="depressionHelp" placeholder="depressionHelp" value="{{depressionHelp}}" /><br>
    Help with Anxiety:<br>
    <input type="text" name="anxietyHelp" placeholder="anxietyHelp" value="{{anxietyHelp}}" /><br>
    Help with PTSD: <br>
    <input type="text" name="ptsdHelp" placeholder="ptsdHelp" value="{{ptsdHelp}}" /><br>
    Description:<br>
    <input type="text" name="description" placeholder="description" value="{{description}}" /> <br>
    Image: <br>
    <input type="text" name="picture" placeholder="picture" value="{{picture}}" /><br><br>
    <input type="submit" value="Save" class="allButton" />
    </form>
</div>