<h1>One Allergy</h1>

<p>Category: {{category}}</p>
<p>Name: {{name}}</p>
<p>Allergy Friendly: {{allergyFriendly}}</p>
<p>Vegetarian Friendly: {{vegetarianFriendly}}</p>
<p>Vegan Friendly: {{veganFriendly}}</p>
<p>Keto Friendly: {{ketoFriendly}}</p>
<p>Description: {{description}}</p>
<p>Picture: {{picture}}</p>

    <a href="/allergy/edit/{{_id}}">
        <button class="allButton">
            Edit Allergy
        </button>
    </a>
    <form action="/allergy/{{_id}}?_method=DELETE" method="POST">
        <input class="allButton" type="submit" value="Delete Allergy" />
    </form>



    <a href="/allergy">
        <input class="allButton" type="submit" value="Back to Allergy" />
    </a>
</div>