<h1>{{name}}</h1>
<div class="content">

    <p class="nolist">Category: {{category}}</p>
    <p class="nolist">Name: {{name}}</p>
    <p class="nolist">Allergy Friendly: {{allergyFriendly}}</p>
    <p class="nolist">Vegetarian Friendly: {{vegetarianFriendly}}</p>
    <p class="nolist">Vegan Friendly: {{veganFriendly}}</p>
    <p class="nolist">Keto Friendly: {{ketoFriendly}}</p>
    <p class="nolist">Description: {{description}}</p>
</div>
{{#if picture}}
<img class="onePicture" src="{{picture}}" />
{{/if}}
<br>
<div class="button-bar">
    <a href="/dietaryPref/edit/{{_id}}">
        <button class="allButton">
            Edit Content
        </button>
    </a>
    <form action="/dietaryPref/{{_id}}?_method=DELETE" method="POST">
        <input class="allButton" type="submit" value="Delete Content" />
    </form>

    <a href="/dietaryPref">
        <input class="allButton" type="submit" value="Back to Main Data" />
    </a>
</div>