<h1>{{name}}</h1>

<div class="content">
    <p class="nolist">Category: {{category}}</p>
    <p class="nolist">Name: {{name}}</p>
    <p class="nolist">Depression Help: {{depressionHelp}}</p>
    <p class="nolist">Anxiety Help: {{anxietyHelp}}</p>
    <p class="nolist">PTSD Help: {{ptsdHelp}}</p>
    <p class="nolist">Description: {{description}}</p>
</div>

{{#if picture}}
<img class="onePicture" src="{{picture}}" />
{{/if}}
<br>
<div class="button-bar">
    <a href="/mentalHealth/edit/{{_id}}">
        <button class="allButton">
            Edit Content
        </button>
    </a>
    <form action="/mentalHealth/{{_id}}?_method=DELETE" method="POST">
        <input class="allButton" type="submit" value="Delete Issue" />
    </form>



    <a href="/mentalHealth">
        <input class="allButton" type="submit" value="Back to Main Mental Health" />
    </a>
</div>